<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"      >

	<h:head>  
	</h:head>
	<h:body>
			<h:form>
				<h:outputText value="Sucesso!!!" />
				<br/>
				<p:messages />
				<br/>
				<p:commandButton action="#{eventoController.listar}" value="Listar Eventos" id="listar" ajax="false"/>
			</h:form>
	</h:body>
</html>